@import 'tailwindcss';
@plugin 'daisyui' {
  themes:
    autumn --default,
    luxury --prefersdark;
}

/*
* Tailwind's purging of unused classes does not cover the dynamic creation of links. 
* Using these lines below, we can forcefully include these classes without purging.
*/

/* prettier-ignore */
@source inline('btn-{neutral,primary,secondary,accent,info,success,warning,error}');
@source inline('btn-{outline,dash,soft,ghost,link}');
@source inline('btn-{xs,sm,md,lg,xl}');
